.main_container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 1rem;
  letter-spacing: .15px;
}

.card {
  width: 50rem;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #2020206d;
  position: relative;
}

.name {
  font-size: 2rem;
  margin: 1.5rem;
  font-family: Raleway;
}

.img {
  max-width: 25rem;
  margin-bottom: 0.3rem;
}

.genres {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.description {
  font-size: 0.9rem;
  text-align: justify;
  letter-spacing: 0.1px;
  padding: 1rem 2.5rem;
}

.info {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: 1rem;
}

.button {
  background-color: rgba(194, 216, 0, 0);
  width: 4rem;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(216, 140, 0);
  box-shadow: rgba(212, 146, 3, 0.623) -5px 5px, rgba(237, 240, 46, 0.336) -10px 10px;
  transition: box-shadow ease-in-out 0.5s;
}

.released,
.rating,
.platforms {
  text-decoration: underline;
}