.container_form {
  margin: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 25px rgb(255, 187, 1)
}

.form {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  height: 40rem;
}

.legend {
  font-size: 1.25em;
  padding: 0 .25em;
  color: #999;
}

.label_form {
  display: block;
}

.button_form {
  display: block;
}

.input_form,
.textarea_form {
  background-color: #303030;
  border: none;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #f3d343;
}

.select_form {
  background-color: #303030;
  border: none;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #997d02;
}

span {
  width: 80%;
  color: red;
  font-size: 0.8rem;
font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 4rem;
}


.button_form {
  background-color: #303030;
  color: #f1efa3;
  width: 5rem;
  height: 2rem;
  border-style: none;
  border-radius: 0.5rem;
  /* box-shadow: rgba(212, 146, 3, 0.212) -5px 5px, rgba(237, 240, 46, 0.123) -10px 10px; */
}

.button_form:hover {
  color: #f6bd00;
  box-shadow: rgba(212, 146, 3, 0.212) -5px 5px, rgba(237, 240, 46, 0.123) -10px 10px;
  transition: box-shadow ease 0.3s
}